* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
  width: 85px;
  height: 20px;
  position: absolute;
  color: #fff;
  font-size: 10px;
  text-align: center;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#Percent_1 {width: 65px; top: 40px; right: 105px;}
#Percent_2 {width: 65px; top: 70px; right: 105px;}
#Percent_3 {width: 65px; top: 100px; right: 105px;}
#Percent_4 {width: 65px; top: 130px; right: 105px;}
#Percent_5 {width: 65px; top: 160px; right: 105px;}

#Price_1 {top: 40px; right: 10px;}
#Price_2 {top: 70px; right: 10px;}
#Price_3 {top: 100px; right: 10px;}
#Price_4 {top: 130px; right: 10px;}
#Price_5 {top: 160px; right: 10px;}

#Deposit {width: 80px; bottom: 90px; left: 10px;}
#Risk {width: 80px; bottom: 90px; left: 100px;}
#Stop_loss {width: 80px; bottom: 90px; right: 100px;}
#Entry_price {width: 80px; bottom: 90px; right: 10px;}

.result {
  width: 85px;
  height: 20px;
  position: absolute;
  color: #FA7D00;
  font-size: 10px;
  text-align: center;
  line-height: 20px;
  border-radius: 10px;
}

#ExitVol_1 {top: 40px; left: 105px;}
#ExitVol_2 {top: 70px; left: 105px;}
#ExitVol_3 {top: 100px; left: 105px;}
#ExitVol_4 {top: 130px; left: 105px;}
#ExitVol_5 {top: 160px; left: 105px;}

#Profit_1 {top: 40px; left: 10px;}
#Profit_2 {top: 70px; left: 10px;}
#Profit_3 {top: 100px; left: 10px;}
#Profit_4 {top: 130px; left: 10px;}
#Profit_5 {top: 160px; left: 10px;}


#EntryVol {width: 80px; bottom: 50px; right: 10px;}
#EntryVolCoin {width: 80px; bottom: 10px; right: 10px;}

#RR {width: 80px; bottom: 50px; right: 100px;}
#StopLossPerc {width: 80px; bottom: 10px; right: 100px;}

#AVGTP {width: 80px; bottom: 50px; left: 100px; color: #44B3E1;}
#TakeProfitPerc {width: 80px; bottom: 10px; left: 100px; color: #44B3E1;}

#TakeProfit {width: 80px; bottom: 50px; left: 10px; color: #44B3E1;}
#TakeProfitDepo {width: 80px; bottom: 10px; left: 10px; color: #44B3E1;}

@media (min-width: 1280px) {
  .container {
    transform: scale(2.0);
  }
}
