* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.svg-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
  width: 75px;
  height: 20px;
  position: absolute;
  color: #fff;
  font-size: 10px;
  text-align: center;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 10px;
}

input.error {
  background: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#Percent_1 {width: 45px; top: 50px; left: 50px;}
#Percent_2 {width: 45px; top: 80px; left: 50px;}
#Percent_3 {width: 45px; top: 110px; left: 50px;}
#Percent_4 {width: 45px; top: 140px; left: 50px;}
#Percent_5 {width: 45px; top: 170px; left: 50px;}

#Price_1 {top: 50px; left: 105px;}
#Price_2 {top: 80px; left: 105px;}
#Price_3 {top: 110px; left: 105px;}
#Price_4 {top: 140px; left: 105px;}
#Price_5 {top: 170px; left: 105px;}

#Risk {bottom: 100px; left: 20px;}
#Deposit {bottom: 100px; left: 105px;}
#Entry_price {bottom: 100px; right: 105px;}
#Stop_loss {bottom: 100px; right: 20px;}

.result {
  width: 75px;
  height: 20px;
  position: absolute;
  color: #FA7D00;
  font-size: 10px;
  text-align: center;
  line-height: 20px;
}

#ExitVol_1 {top: 50px; right: 105px;}
#ExitVol_2 {top: 80px; right: 105px;}
#ExitVol_3 {top: 110px; right: 105px;}
#ExitVol_4 {top: 140px; right: 105px;}
#ExitVol_5 {top: 170px; right: 105px;}

#Profit_1 {top: 50px; right: 20px;}
#Profit_2 {top: 80px; right: 20px;}
#Profit_3 {top: 110px; right: 20px;}
#Profit_4 {top: 140px; right: 20px;}
#Profit_5 {top: 170px; right: 20px;}


#EntryVol {bottom: 60px; right: 20px;}
#EntryVolCoin {bottom: 20px; right: 20px;}

#RR {bottom: 60px; right: 105px;}
#StopLossPerc {bottom: 20px; right: 105px;}

#AVGTP {bottom: 60px; left: 105px; color: #44B3E1;}
#TakeProfitPerc {bottom: 20px; left: 105px; color: #44B3E1;}

#TakeProfit {bottom: 60px; left: 20px; color: #44B3E1;}
#TakeProfitDepo {bottom: 20px; left: 20px; color: #44B3E1;}
